.stock-list-item {
  border-bottom: 1px solid lightgray;
  padding: 15px;
  user-select: none;
  cursor: pointer;

  .row-heading {
    display: flex;
    flex-direction: row;
    align-items: center;

    h3 {
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;
      margin: 0;

      .stock-symbol {
        flex: 1;
        align-items: center;
      }

      .stock-quote {
        margin-left: 10px;
        flex-direction: row;
        align-items: center;
        display: flex;
        font-size: 20px;

        .change-percent {
          display: flex;
          width: 80px;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 8px;
        }

        span {
          margin: 0 5px;
        }
      }
    }
  }
  .stock-details {
    font-size: 14px;
    margin: 10px 0 0;
    td {
      border: none;
    }
  }

  .expandable {
    -moz-transition-property: opacity;
    -moz-transition-duration: 5s;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 5s;
    opacity: 0;
    &.in {
      opacity: 1;
    }
  }
}
